name: Build macOS Manual Pages
permissions: {} # Lock down permissions by default

on:
  workflow_dispatch:
  schedule:
    - cron: '14 17 3 * *'

jobs:
  main:
    runs-on: macos-latest
    permissions:
      contents: write
    steps:
      - name: Prepare repository
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPOSITORY: ${{ github.repository }}
        run: |
           git config --global user.name "github-actions"
           git config --global user.email "github-actions@users.noreply.github.com"
           git clone "https://x-access-token:${GITHUB_TOKEN}@github.com/${REPOSITORY}" .
      - name: Build manual pages
        run: |
          readonly osdir="$(pwd)/macOS/$(/usr/bin/sw_vers -productVersion | /usr/bin/cut -d '.' -f 1)"

          for mandir in '/usr/share/man/'*
          do
            savedir="${osdir}/$(/usr/bin/basename "${mandir}")"
            /bin/mkdir -p "${savedir}"

            for manual in "${mandir}"/*
            do
              /usr/bin/printf 'Exporting %s...\n' "${manual}" >&2
              /usr/bin/mandoc -T utf8 "${manual}" | /usr/bin/col -bx > "${savedir}/$(/usr/bin/basename "${manual}")"
            done
          done
      - name: Commit if there are changes then push
        run: |
          git add --all
          git diff-index --quiet HEAD || git commit --message "Updated manual pages for macOS $(/usr/bin/sw_vers -productVersion)"
          git push
